form#form-task.form-inline(class='todos')
  .form
    .main
      input(type='text', id='title', name='title', placeholder='설문지의 제목을 입력해주세요!')
    .sub
      .form-group
        select.form-control(name='category')
          option(value='설문',selected) 설문유형
          option(value='학업') 학업
          option(value='기업') 기업
          option(value='기타') 기타
      .form-group
        select.form-control(name='priority')
          option(value='man') 남자 
          option(value='man+woman', selected) 남녀공통
          option(value='woman') 여자
      .form-group
        select.form-control(name='age')
          option(value='1', selected) 연령대
          option(value='10대') 10대 
          option(value='20대') 20대
          option(value='30대') 30대
          option(value='40대') 40대
          option(value='50대외') 50대~
      .form-group
        input(type='text',id='deadline',name='deadline',placeholder='마감일을 입력해주세요')
        예시: 20150302 (O) 2015-03-02(X)
    .content
      h5 문제유형을 선택해 주세요:
      .checked
        span 객관식 
        input(type='radio', id='object', name='qtype')  
        span 주관식 
        input(type='radio', id='subject', name='qtype')
        .qsubmit
          input(type='submit', id='addquestion',name='add question')   
  .actions
      button#post-task.btn.btn-primary.btn-lg.btn-block(type='button') 저장

ul.tasks

.no-task
  .alert.alert-info 설문내용이 없습니다.
script#task-template(type='text/template').
  <li class='task <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (category) { %>
      <span class='label label-default category'>
        <%= category %>
      </span>
    <% } %>
    <span class='priority p<%= priority %>'>
      <%= (priority === 1) ? "남자" : ((priority === 3) ? "여자": "남녀공통") %>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>

script.
  $(function() {
    var todo = new TaskController();
  });
